package $!{package.Mapper};

import $!{package.Entity}.$!{entity};
#set($voPackage=$package.Entity.replace("entity","vo"))
import $!{voPackage}.$!{entity}VO;
import $!{superMapperClassPackage};
import com.baomidou.mybatisplus.core.metadata.IPage;
import java.util.List;

/**
 * $!{table.comment} Mapper 接口
 *
 * @author $!{author}
 * @since $!{date}
 */
#if($!{kotlin})
interface $!{table.mapperName} : $!{superMapperClass}<$!{entity}>
#else
public interface $!{table.mapperName} extends $!{superMapperClass}<$!{entity}> {

}
#end
